fcstd
build
dist
*.FCBak
__pycache__
*.ipynb_checkpoints*
*.pkl
*.pdf
*.png
*.jpg
*.tar.gz
*.egg-info
*.nbconvert*
**/*.OpticsDesign/raw/*
**/*.OpticsDesign/**/*.pdf
**/*.OpticsDesign/**/*.png
**/*.OpticsDesign/**/*.jpg
**/*.OpticsDesign/**/*.md
**/*.OpticsDesign/**/*.txt
**/*.OpticsDesign/**/*.log
**/*.OpticsDesign/**/*.log.*
**/*.OpticsDesign/**/simulation-*
*.md5
test-docker/**/container-home
*.AppImage
releases

# include screenshots in examples
!examples/**/*.png
